# Template for secrets/staging.env and secrets/prod.env
ADMIN_TOKEN=super-secret-admin-token
BSV_NETWORK=mainnet                     # mainnet or testnet
GCP_BUCKET_NAME=uhrp-storage
GCR_HOST=us-west1-docker.pkg.dev
GOOGLE_PROJECT_ID=your-gcp-project-id
GCR_IMAGE_NAME=uhrp/storage-server      # repo/image format for Artifact Registry
NODE_ENV=production                     # production or staging
HOSTING_DOMAIN=prod.example.com
PRICE_PER_GB_MO=0.03
SERVER_PRIVATE_KEY=your-server-private-key
MIN_HOSTING_MINUTES=180
WALLET_STORAGE_URL=https://wallet-storage.example.com
HTTP_PORT=8080

DOCKERHUB_USERNAME=your_dockerhub_user
DOCKERHUB_TOKEN=your_dockerhub_pat

# AFTER RUNNING setup.yaml
GCR_PUSH_KEY=your_gcr_push_key
GCP_STORAGE_CREDS=your_gcp_storage_creds