ADMIN_TOKEN=replace_me
BSV_NETWORK=mainnet            # or testnet
GCP_BUCKET_NAME=uhrp-storage
GCR_HOST=us-west1-docker.pkg.dev
GOOGLE_PROJECT_ID=your-gcp-project-id
GCR_IMAGE_NAME=storage-server
NODE_ENV=production            # "production" for prod; "staging" or "development" for staging
HOSTING_DOMAIN=prod.example.com
PRICE_PER_GB_MO=0.03
SERVER_PRIVATE_KEY=your-server-private-key
MIN_HOSTING_MINUTES=180
WALLET_STORAGE_URL=https://wallet-storage.example.com
HTTP_PORT=8080

GCP_STORAGE_CREDS={"type":"service_account","project_id":"..."}  # JSON of runtime service account key
GCR_PUSH_KEY=ewogICJ0eXBlIj # Base64 encoding of deployer service account key JSON

DOCKERHUB_USERNAME=your_dockerhub_user
DOCKERHUB_TOKEN=your_dockerhub_pat
